/*
 * Variables
 */

$wrapper:     1169px;

/*
 * Colors
 */

$bgBlueCyan: #2c3e50;
$bgGray: #eeeeee;
$bgWhite: #ffffff;
$colorLetter: #6b6b6b;
$blueBorderColor: #253342;
$descriptionImage: #9a9a9a;


/*
 * Fonts
 */

$openSans: Open Sans;